<!DOCTYPE html>
<html>
<head>
  <title>Wdi3RailsRoutesControllers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='container'>
    <div id='header'>
    <p> This is the Title: <%= @title %></p> 
    </div>
    <div id='contents'>
      <%= yield %>
    </div>
    <div id='footers'>
      About 
    </div>
  </div>

</body>
</html>
